@use './fonts/fonts.scss';

:root{
  --red: #ff4a59;
  --orange: #fc6f32;
  --violet: #b53ea4;
  --main-gradient: linear-gradient(140deg, Var(--violet) 0%, var(--orange) 20%, var(--red) 100%);

}

button{
  color: white;
}
