@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables/_global';
@import './_reset';

:root {
  font-family: 'ClashGrotesk', 'Inter', 'Metrophobic', sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: black;
  overflow-x: hidden;
}

img{
  user-select: none;
}

#root{
  margin: 0 auto;
  min-width: 320px;
  max-width: 1760px;
}


